<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>MacClipper</string>
	<key>CFBundleExecutable</key>
	<string>MacClipper</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>local.macclipper.app</string>
	<key>CFBundleName</key>
	<string>MacClipper</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2.8</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>local.macclipper.app</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>macclipper</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>10</string>
	<key>DiscordRichPresenceButton1Label</key>
	<string>Download MacClipper</string>
	<key>DiscordRichPresenceButton1URL</key>
	<string>https://discord.gg/NxSWS3yQzh</string>
	<key>DiscordRichPresenceButton2Label</key>
	<string>View Updates</string>
	<key>DiscordRichPresenceButton2URL</key>
	<string>https://discord.gg/NxSWS3yQzh</string>
	<key>DiscordRichPresenceClientID</key>
	<string>1491464560073510942</string>
	<key>DiscordRichPresenceLargeImageKey</key>
	<string>macclipper</string>
	<key>DiscordRichPresenceLargeImageText</key>
	<string>MacClipper</string>
	<key>LSMinimumSystemVersion</key>
	<string>12.3</string>
	<key>LSUIElement</key>
	<false/>
	<key>MacClipperAccountPortalURL</key>
	<string>https://macclipper.co/support</string>
	<key>MacClipperAPIBaseURL</key>
	<string>https://macclipper-ce502.web.app/api</string>
	<key>MacClipperDeveloperMode</key>
	<false/>
	<key>MacClipperEnableUpdater</key>
	<true/>
	<key>NSMicrophoneUsageDescription</key>
	<string>MacClipper uses your microphone so replay clips can include your voice chat.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>MacClipper listens for the phrase "Mac clip that" so you can save a clip hands-free.</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/Userbro20/macclip-auto-update/main/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>+2eUnoylksiUd5n+TksRLpGYZCUgUJcPa1y+g0p1UIw=</string>
	<key>SUScheduledCheckInterval</key>
	<integer>43200</integer>
	<key>SUVerifyUpdateBeforeExtraction</key>
	<true/>
</dict>
</plist>
